# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Base de datos
*.db
*.sqlite
*.sqlite3
inventario.db

# Archivos subidos
media/

# Respaldos
backups/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Variables de entorno
.env
*.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db
